.positError{
    /* margin-top: 130px; */
    margin-bottom: 400px;
 
}
.imgError{
    width: 100%;
    margin: 0 auto;
}
.textSize{
    font-size: 59px;
   padding-top: 200px;
}
form{
    padding-top: 200px;
}