.pos{
    position: fixed;
    top: 48%;
    left: 10px;
    transform: rotate(-90deg);
}
.divPosition {
    position: relative;
    margin-top: 70px;

}
.modal{
    z-index: 100000;
}
@media screen and ( max-width:900px){
    .pos{
        position: static;
        transform: rotate(-1800deg);
    } 
}